:root {
  --clr-accent: var(--teal-7);
}

.center {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
  text-align: center;
}

.logo {
  font-family: "Great Vibes", cursive;
  margin-block-start: var(--size-4);
  color: var(--clr-accent);
}

.nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__item {
  padding-inline: var(--size-4);
  font-size: var(--font-size-fluid-1);
  cursor: pointer;
}

.nav__item:hover,
.nav__item[data-active="true"] {
  color: var(--clr-accent);
}

main {
  outline: 1px solid var(--clr-accent);
  margin-block-start: var(--size-4);
  padding-block: var(--size-4);
}

h2 {
  max-inline-size: none;
}
