:root {
  --clr-accent: var(--teal-9);
}

.center {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
  text-align: center;
}

.logo {
  font-family: "Great Vibes", cursive;
  margin-block-start: var(--size-8);
  color: var(--clr-accent);
}

.nav {
  margin-block-start: var(--size-6);
  margin-bottom: var(--size-8);
}

.nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav__item {
  padding-inline: var(--size-4);
  font-size: var(--font-size-fluid-1);
  letter-spacing: var(--font-letterspacing-4);
  cursor: pointer;
}

.nav__item:hover,
.nav__item[data-active="true"] {
  color: var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
}

.img {
  margin-block-end: var(--size-7);
}

.location-img {
  width: 75%;
}

.greet {
  font-weight: var(--font-weight-4);
  letter-spacing: var(--font-letterspacing-2);
}

main {
  /* outline: 1px solid var(--clr-accent); */
  margin-block-start: var(--size-4);
  padding-block: var(--size-4);
}

h2 {
  max-inline-size: none;
}

/**************************/
/***********MENU***********/

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2);
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid var(--gray-8);
}

.dish {
  text-align: start;
}

.dish-name {
  font-weight: var(--font-weight-7);
  color: var(--gray-2);
  letter-spacing: var(--font-letterspacing-3);
}

.dish-desc {
  font-weight: var(--font-weight-);
  color: var(--gray-5);
}

.price {
  font-size: var(--font-size-3);
}

/**************************/
/*********CONTACT**********/

.contact-info {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  margin-block-end: var(--size-2);
}

.contact-info__item {
  text-align: start;
  width: min(50rem);
}
